.filter_card {
    background: white;
    z-index: 1;
    padding: 0% 4% 2%;
}

.filter_container {
    padding-top: 2%;
}

/* .topheading_filter {
    border: 2px solid #0FB9B9;
    display: inline-block;
    border-bottom: none;
    margin-bottom: -3px;
    padding: 24px 50px;
    font-size: 20px;
    font-family: 'Roboto';
    border-top-left-radius: 25px;
    color: #0fb9b9;
    background: white;
    border-top-right-radius: 25px;
} */

.FIlterCOmpoent {
    padding: 15% 5% 5%;
}

.topheading_filter {
    font-size: 1rem;
    font-family: 'Roboto';
    font-weight: 500;
    color: #0FB9B9;
}

.FIlterCOmpoent .MuiFormControl-fullWidth {
    width: 95% !important;
}

.FIlterCOmpoent .btn_div {
    margin-top: 1px;
    width: 98%;
}

.FIlterCOmpoent.btn_div button {
    position: relative;
    left: 38%;
    background-color: #0FB9B9 !important;
    border-radius: 15px !important;
    width: 180px !important;
    padding: 12px 0px
}

.technology_div .css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select,
.role_div .css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
    padding: 9px 14px 9px 20px !important;
}

.flex {
    display: flex;
}

.FIlterCOmpoent .input_parent {
    width: 100%;
}

.FIlterCOmpoent .container {
    padding-top: 20%;      
}

.FIlterCOmpoent .css-vamk89-MuiFormControl-root {
    width: 270px;
}

/*--------------------------------- TAB CSS HERE -------------------------- */

@media only screen and (min-width: 750px) and (orientation: portrait) ,only screen and (min-width: 1024px) and (orientation: landscape) {
    .FIlterCOmpoent .container {
        padding-top: 10%;
    }

    .FIlterCOmpoent .css-vamk89-MuiFormControl-root {
        width: 300px;
    }

    .FIlterCOmpoent {
        padding: 5%;
    }

    .FIlterCOmpoent .btn_div {
        width: 85%;
        padding: 2%;
    }
}

/*---------------------------------DESKTOP CSS HERE------------------------ */

@media only screen and (min-width: 1025px) { 
    
}